# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest / Coverage output
.pytest_cache/
.coverage
pytest.xml
coverage.xml
